<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.chahine.showhive.show">

    <application>
        <activity android:name=".ShowActivity">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                        android:host="@string/host"
                        android:pathPrefix="@string/path_show"
                        android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>
