<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chahinem.showhive.app"
    >

  <application
      android:allowBackup="false"
      tools:replace="android:allowBackup"
      >
    <provider
        android:name="com.google.firebase.provider.FirebaseInitProvider"
        android:authorities="${applicationId}.firebaseinitprovider"
        android:exported="false"
        android:initOrder="100"
        tools:replace="android:authorities"
        />

    <provider
        android:name="com.google.firebase.perf.provider.FirebasePerfProvider"
        android:authorities="${applicationId}.firebaseperfprovider"
        android:exported="false"
        android:initOrder="101"
        tools:replace="android:authorities"
        />

    <provider
        android:name="android.arch.lifecycle.ProcessLifecycleOwnerInitializer"
        android:authorities="${applicationId}.lifecycle-trojan"
        android:exported="false"
        android:multiprocess="true"
        tools:replace="android:authorities"
        />
  </application>
</manifest>