<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chahinem.showhive.app"
    >

  <application>
    <activity
        android:name="com.squareup.leakcanary.internal.DisplayLeakActivity"
        android:enabled="false"
        android:icon="@drawable/leak_canary_icon"
        android:label="@string/leak_canary_display_activity_label"
        android:process=":leakcanary"
        android:taskAffinity="com.squareup.leakcanary.${applicationId}"
        android:theme="@style/leak_canary_LeakCanary.Base"
        tools:replace="android:taskAffinity"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name="com.squareup.leakcanary.internal.RequestStoragePermissionActivity"
        android:enabled="false"
        android:excludeFromRecents="true"
        android:icon="@drawable/leak_canary_icon"
        android:label="@string/leak_canary_storage_permission_activity_label"
        android:process=":leakcanary"
        android:taskAffinity="com.squareup.leakcanary.${applicationId}"
        android:theme="@style/leak_canary_Theme.Transparent"
        tools:replace="android:taskAffinity"
        />

    <provider
        android:name="com.readystatesoftware.chuck.internal.data.ChuckContentProvider"
        android:authorities="${applicationId}.chuck.provider"
        android:exported="false"
        tools:replace="android:authorities"
        />
  </application>
</manifest>